# Porta do servidor
PORT=3000

# Ambiente
NODE_ENV=development

# Se quiser armazenar certificado como variável (menos recomendado)
# CERTIFICADO_BASE64=seu_certificado_em_base64_aqui
# CERTIFICADO_SENHA=Lumiap25!
