node_modules/
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
build/
.idea/
.vscode/
*.swp
*.swo
*~
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vuepress/dist
.env.production.local
.env.development.local
.env.test.local
*.pem
*.pfx
*.p12
certificado.txt
